<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2 class="text-center"><%= post.name %></h2>
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/completePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-check" type="submit"></button>
        </form>
        <h3 class="col-3">Status: <%= post.status %></h3>
        <%if(user.id == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-7 text-center">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/">Return to HomePage</a>
      <a class="btn btn-primary" href="/feed">Return to Orders</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
